name: Release

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: read
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - uses: actions/setup-go@v6
      with:
        go-version: '1.26.x'

    - name: Setup KO
      uses: ko-build/setup-ko@v0.9

    - name: Publish
      run: |
        ko build ./cmd/emailer --platform="linux/amd64,linux/arm64" --bare --tags ${{github.ref_name}}
