name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26.x'

      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.10.1

      - name: Test
        run: go test -race -covermode atomic -coverprofile=coverage.txt -v ./...

      - name: Install Goveralls
        run: go install github.com/mattn/goveralls@v0.0.12
    
      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
